.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #FFAD9B;
}

.button:hover p {
    color: #fff;
}

.button p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .button {
        width: 140px;
        height: 50px;
    }

    .button p {
        font-size: 15px;
    }
}