
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0 150px;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;
    max-width: 1440px;
    background-color: #E7816B;
    border-radius: 15px;
    background-image: url("../../../public/assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 100px;
    gap: 100px;
    margin-bottom: 50px;
}

.contactContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 20px;
    color: #fff;
}

.contactTitle {
    font-size: 48px;
    font-weight: 500;
}

.contactContent p {
    font-weight: 300;
    line-height: 25px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 55%;
}

.contactForm input,
.contactForm textarea {
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    font-family: "Jost";
    width: 100%;
}

.contactForm input:focus,
.contactForm textarea:focus {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
}

.contactForm textarea {
    height: 100px;
    resize: none;
}

::placeholder {
    color: #fff;
    opacity: 0.6;
}

.contactButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;
}

.contactButton {
    border: none;
    outline: none;
    width: 150px;
    height: 55px;
    background-color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Jost";
    cursor: pointer;
    font-size: 15px;
}

.contactButton:hover {
    background-color: #FFAD9B;
    color: #fff;
}

.backgroundImageRight {
    position: absolute;
    right: 0;
    top: 850px;
    z-index: -1;
  }

.citiesContainer {
    padding-bottom: 70px;
    width: 100%;
    max-width: 1440px;
}

.inputContainer {
    width: 100%;
    position: relative;
}

.errorContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 12px;
    font-style: italic;
    color: #fff;
    font-weight: 300;
}


.contactOverlay {
    position: fixed;
    inset: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
}

.confirmationMessage { 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 60vw;
    height: 130px;
    border-radius: 10px;
    z-index: 2;
    font-weight: 500;
    color: #E7816B;
    max-width: 700px;
}

.confirmationClose {
    position: absolute;
    top: 15px;
    right: 15px;
    transform: scale(0.8);
    cursor: pointer;
}


/* ----------------- MEDIA QUERIES ----------------- */

@media screen and (max-width: 1024px) {
    .contact {
        padding: 0 40px;
    }

    .backgroundImageRight {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .contactContainer {
        flex-direction: column;
        height: 710px;
        background-position: top -95px left -130px;
        padding: 60px;
        gap: 30px;
        margin-bottom: 100px;
    }

    .contactContent {
        width: 100%;
    }

    .contactForm {
        width: 100%;
    }

    .citiesContainer {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .contactContainer {
        height: 760px;
        background-position: top -95px left -130px;
        padding: 25px;
        gap: 30px;
        margin-bottom: 0;
        width: 100vw;
        border-radius: 0;
        background-image: url("../../../public/assets/contact/mobile/bg-pattern-hero-contact-mobile.svg");
        background-position: top left -90px;
    }

    .contactContent {
        align-items: center;
        text-align: center;
        font-size: 15px;
    }

    .contactTitle {
        font-size: 32px;
    }

    .contactButtonContainer {
        justify-content: center;
        padding-top: 35px;
    }
}
