.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 150px;
}

/* ----------------- BACKRGOUND IMAGE ----------------- */

.backgroundImageLeft {
  position: absolute;
  left: 0;
  top: 500px;
  z-index: -1;
}

.backgroundImageRight {
  position: absolute;
  right: 0;
  top: 1900px;
  z-index: -1;
  transform: rotate(180deg);
}

/* ----------------- HERO SECTION ----------------- */

.heroContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 640px;
  background-color: #E7816B;
  border-radius: 15px;
  max-width: 1440px;
  overflow: hidden;
  background-image: url("../../public/assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: 100%;
}

.heroContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
  width: 500px;
  margin-left: 90px;
  height: 100%;
  justify-content: center;
  z-index: 2;
}

.heroTitle {
  font-size: 48px;
  font-weight: 500;
  line-height: 45px;
}

.heroText {
  font-size: 17px;
  line-height: 30px;
  margin-right: 30px;
}

.heroImage {
  position: absolute;
  right: -90px;
  top: -45px;
}

/* ---------------- CATEGORY SECTION  ----------------- */

.category {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 170px 0;
  gap: 25px;
}

.imageLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 640px;
  background-image: url("../../public/assets/home/desktop/image-web-design-large.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.imageRightContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.categoryImageTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 310px;
  background-image: url("../../public/assets/home/desktop/image-app-design.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.categoryImageBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 310px;
  background-image: url("../../public/assets/home/desktop/image-graphic-design.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.categoryOverlay {
  position: absolute;
  inset: 0;
  background-color: #000;
  border-radius: 15px;
  opacity: 0.5;
}

.categoryTitle {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  z-index: 1;
  text-align: center;
}

div:has( ~ .categoryTitle:hover) {
  background-color: #E7816B;
  opacity: 0.8;
}

div:has( ~ .categoryContent:hover) {
  background-color: #E7816B;
  opacity: 0.8;
}

.categoryContent {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.categoryText {
  color: #fff;
  letter-spacing: 5px;
  font-size: 15px;
}

.categoryOverlay:hover {
  background-color: #E7816B;
  opacity: 0.8;
}


/* ----------------- SKILLS SECTION ----------------- */

.skills {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1440px;
  gap: 30px;
  padding-bottom: 310px;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.skillsImageContainer {
  position: relative;
}

.skillsBackgroundLeft {
  position: absolute;
  transform: rotate(-90deg);
  z-index: -1;
  opacity: 0.6;
  top: -10px;
  left: -20px;
}
.skillsBackgroundCentered {
  position: absolute;
  transform: rotate(-180deg);
  z-index: -1;
  opacity: 0.6;
  top: 0;
  left: -7px;
}
.skillsBackgroundRight {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  top: -10px;
  left: -5px;
}

.skillsTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.skillsTitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
}

.skillsText {
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  width: 100%;
  height: 150px;
}


/* ----------------- MEDIA QUERIES ----------------- */

@media screen and (max-width: 1024px) {

  .home {
    padding: 0 40px;
  }

  .heroContainer {
    min-height: 840px;
    justify-content: center;
    background-position: right -30px top 100px;
  }

  .heroContent {
    margin-left: 0;
    align-items: center;
    justify-content: flex-start;
    margin-top: 130px;
    gap: 0;
    width: 80%;
  }

  .heroTitle {
    text-align: center;
    margin-bottom: 30px;
  }
  .heroText {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 0;
  }

  .heroImage {
    left: 50%;
    top: 270px;
    transform: translateX(-50%);
  }

  .backgroundImageLeft {
    display: none;
  }
  .backgroundImageRight {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home {
    padding: 0 40px;
  }

  .heroContainer {
    background-position: right -100px top 100px;;
  }

  .heroContent {
    width: 100%;
    margin-top: 100px;
    z-index: 0;
  }

  .heroTitle {
    width: 75%;
    min-width: 400px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 45px;
  }

  .heroText {
    line-height: 25px;
    font-weight: 300;
    font-size: 15px;
    width: 65%;
    min-width: 310px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    padding: 0;
  }

  .heroContainer {
    padding-top: 30px;
    border-radius: 0;
    background-position: right -260px top 100px;
  }

  .heroTitle {
    font-size: 32px;
    width: 350px;
    min-width: auto;
    line-height: 35px;
  }

  .heroText {
    margin-bottom: 25px;
  }

  .heroImage {
    top: 290px;
  }
}


/* ----------------- MEDIA QUERIES SECTION CATEGORY ----------------- */

@media screen and (max-width: 768px) {
  .category {
    flex-direction: column;
    padding: 100px 0;
  }

  .imageLeftContainer {
    width: 100%;
    height: 200px;
    background-image: url("../../public/assets/home/tablet/image-web-design.jpg");
    background-position: bottom;
  }
  .imageRightContainer {
    width: 100%;
  }

  .categoryImageTop {
    background-image: url("../../public/assets/home/tablet/image-app-design.jpg");
    height: 200px;
  }
  .categoryImageBottom {
    background-image: url("../../public/assets/home/tablet/image-graphic-design.jpg");
    height: 200px;
    background-position: top;
  }
}

@media screen and (max-width: 480px) {
  .category {
    padding: 130px 20px;
  }

  .categoryTitle {
    font-size: 28px;
  }

}


/* ----------------- MEDIA QUERIES SECTION SKILLS ----------------- */

@media screen and (max-width: 768px) {
  .skills {
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 300px;
  }

  .skillsContent {
    flex-direction: row;
  }

  .skillsTextContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .skillsTitle {
    width: 100%;
    text-align: left;
  }
  .skillsText {
    width: 100%;
    text-align: left;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .skills {
    gap: 75px;
    padding-top: 0;
    padding-bottom: 350px;
  }

  .skillsContent {
    flex-direction: column;
  }

  .skillsTextContainer {
    gap: 25px;
  }

  .skillsTitle {
    text-align: center;
  }
  .skillsText {
    width: 85%;
    text-align: center;
    font-size: 15px;
  }
}


