.navbar {
    display: flex;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 18px;
}

ul {
    list-style-type: none;
    cursor: pointer;
}

li:hover {
    border-bottom: 1px solid grey;
    height: 21px;
}