.navbar {
    display: flex;
    width: 100%;
    padding: 70px 0;
    max-width: 1440px;
    align-items: center;
    justify-content: space-between;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

ul {
    list-style-type: none;
    cursor: pointer;
}

li {
    font-size: 17px;
}

li:hover {
    border-bottom: 1px solid grey;
    height: 21px;
}