.callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 290px;
    border-radius: 15px;
    background-color: #E7816B;
    background-image: url("../../../public/assets/shared/desktop/bg-pattern-call-to-action.svg");
    background-position: center right;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    top: -240px;
  }
  
  .callToActionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
  }

  .callToActionDisabled {
    visibility: hidden;
  }
  
  .callToActionTitle {
    color: #fff;
    font-size: 40px;
    width: 300px;
    font-weight: 500;
    line-height: 40px;
  }
  
  .callToActionText {
    color: #fff;
    font-weight: 300;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    min-height: 360px;
    background-color: #1D1C1E;
    width: 100vw;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    width: 100%;
    max-width: 1440px;
    gap: 35px;
    margin-top: -180px;
  }
  
  .footerTopContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
  }
  
  .navbarItems {
    display: flex;
    flex-direction: row;
    gap: 45px;
    color: #fff;
  }
  
  .navbarItems li {
    font-size: 14px;
    font-weight: 300;
  }
  
  .footerLineBreak {
    width: 100%;
    height: 1px;
    background-color: #333136;
  }
  

  .footerBottomContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 15px;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-top: 1px solid #333136;
    padding-top: 30px;
  }
  
  .adress {
    font-weight: 600;
  }
  
  
  .footerContactContainer {
    font-weight: 600;
  }
  
  .footerSocialContainer {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .socials:hover {
    transform: scale(1.15);
  }


  /*  --------- MEDIA QUERIES ---------- */

  
@media screen and (max-width: 1024px) {
    .footer {
      padding: 0 40px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .callToAction {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 350px;
        background-position: center right -170px;
    }

    .callToActionContent {
        width: 100%;
        margin-bottom: 35px;
        align-items: center;
    }

    .callToActionTitle {
        width: 300px;
    }

    .callToActionText {
        width: 62%;
    }

    .navbarItems {
      gap: 35px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      padding: 0 20px
    }

    .callToAction {
        background-position: center right -300px;
    }

    .callToActionTitle {
        font-size: 32px;
        width: 230px;
    }

    .callToActionText {
        font-size: 15px;
        width: 85%;
    }

    .navbarItems {
      gap: 35px;
    }
  
    .footerTopContent {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 5px;  
    }
  
    .footerBottomContent {
      border: none;
      padding-top: 0;
    }
  
    .navbarItems {
      width: 100%;
      border-top: 1px solid #333136;
      padding-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav:has(.navbarItems) {
      width: 100%;
    }
  
    .footerBottomContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 35px;
    }
  
  }