/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_home__jFQbK {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 150px;
}

/* ----------------- BACKRGOUND IMAGE ----------------- */

.page_backgroundImageLeft__VZxH_ {
  position: absolute;
  left: 0;
  top: 500px;
  z-index: -1;
}

.page_backgroundImageRight__PMMwc {
  position: absolute;
  right: 0;
  top: 1900px;
  z-index: -1;
  transform: rotate(180deg);
}

/* ----------------- HERO SECTION ----------------- */

.page_heroContainer__WSN_b {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 640px;
  background-color: #E7816B;
  border-radius: 15px;
  max-width: 1440px;
  overflow: hidden;
  background-image: url(/_next/static/media/bg-pattern-hero-home.91c6c71d.svg);
  background-repeat: no-repeat;
  background-position: 100%;
}

.page_heroContent__2lPR8 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
  width: 500px;
  margin-left: 90px;
  height: 100%;
  justify-content: center;
  z-index: 2;
}

.page_heroTitle__Gfler {
  font-size: 48px;
  font-weight: 500;
  line-height: 45px;
}

.page_heroText__g5S3T {
  font-size: 17px;
  line-height: 30px;
  margin-right: 30px;
}

.page_heroImage__Q6NCQ {
  position: absolute;
  right: -90px;
  top: -45px;
}

/* ---------------- CATEGORY SECTION  ----------------- */

.page_category__c7Udh {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  height: auto;
  padding: 170px 0;
  gap: 25px;
}

.page_imageLeftContainer__o5VGp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 50%;
  height: 640px;
  background-image: url(/_next/static/media/image-web-design-large.3751e910.jpg);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page_imageRightContainer__Z4d4W {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.page_categoryImageTop__AMZCR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 310px;
  background-image: url(/_next/static/media/image-app-design.26e32ca5.jpg);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page_categoryImageBottom__hOIcz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 310px;
  background-image: url(/_next/static/media/image-graphic-design.0891ebbe.jpg);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.page_categoryOverlay__VFwTy {
  position: absolute;
  inset: 0;
  background-color: #000;
  border-radius: 15px;
  opacity: 0.5;
}

.page_categoryTitle__wt3iC {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  z-index: 1;
  text-align: center;
}

div:has( ~ .page_categoryTitle__wt3iC:hover) {
  background-color: #E7816B;
  opacity: 0.8;
}

div:has( ~ .page_categoryContent__9TSON:hover) {
  background-color: #E7816B;
  opacity: 0.8;
}

.page_categoryContent__9TSON {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.page_categoryText__OnJaw {
  color: #fff;
  letter-spacing: 5px;
  font-size: 15px;
}

.page_categoryOverlay__VFwTy:hover {
  background-color: #E7816B;
  opacity: 0.8;
}


/* ----------------- SKILLS SECTION ----------------- */

.page_skills__ejZHj {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1440px;
  gap: 30px;
  padding-bottom: 310px;
}

.page_skillsContent__BK7qU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.page_skillsImageContainer__b_yWU {
  position: relative;
}

.page_skillsBackgroundLeft__1UJ_7 {
  position: absolute;
  transform: rotate(-90deg);
  z-index: -1;
  opacity: 0.6;
  top: -10px;
  left: -20px;
}
.page_skillsBackgroundCentered__vyFY2 {
  position: absolute;
  transform: rotate(-180deg);
  z-index: -1;
  opacity: 0.6;
  top: 0;
  left: -7px;
}
.page_skillsBackgroundRight__SCG6K {
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  top: -10px;
  left: -5px;
}

.page_skillsTextContainer__bApB_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.page_skillsTitle__gojQZ {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 5px;
}

.page_skillsText__6IUfC {
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  width: 100%;
  height: 150px;
}


/* ----------------- MEDIA QUERIES ----------------- */

@media screen and (max-width: 1024px) {

  .page_home__jFQbK {
    padding: 0 40px;
  }

  .page_heroContainer__WSN_b {
    min-height: 840px;
    justify-content: center;
    background-position: right -30px top 100px;
  }

  .page_heroContent__2lPR8 {
    margin-left: 0;
    align-items: center;
    justify-content: flex-start;
    margin-top: 130px;
    gap: 0;
    width: 80%;
  }

  .page_heroTitle__Gfler {
    text-align: center;
    margin-bottom: 30px;
  }
  .page_heroText__g5S3T {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    margin-right: 0;
  }

  .page_heroImage__Q6NCQ {
    left: 50%;
    top: 270px;
    transform: translateX(-50%);
  }

  .page_backgroundImageLeft__VZxH_ {
    display: none;
  }
  .page_backgroundImageRight__PMMwc {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page_home__jFQbK {
    padding: 0 40px;
  }

  .page_heroContainer__WSN_b {
    background-position: right -100px top 100px;;
  }

  .page_heroContent__2lPR8 {
    width: 100%;
    margin-top: 100px;
  }

  .page_heroTitle__Gfler {
    width: 75%;
    min-width: 400px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 45px;
  }

  .page_heroText__g5S3T {
    line-height: 25px;
    font-weight: 300;
    font-size: 15px;
    width: 65%;
    min-width: 310px;
  }
}

@media screen and (max-width: 480px) {
  .page_home__jFQbK {
    padding: 0;
  }

  .page_heroContainer__WSN_b {
    padding-top: 30px;
    border-radius: 0;
    background-position: right -260px top 100px;
  }

  .page_heroTitle__Gfler {
    font-size: 32px;
    width: 350px;
    min-width: auto;
    line-height: 35px;
  }

  .page_heroText__g5S3T {
    margin-bottom: 25px;
  }

  .page_heroImage__Q6NCQ {
    top: 290px;
  }
}


/* ----------------- MEDIA QUERIES SECTION CATEGORY ----------------- */

@media screen and (max-width: 768px) {
  .page_category__c7Udh {
    flex-direction: column;
    padding: 100px 0;
  }

  .page_imageLeftContainer__o5VGp {
    width: 100%;
    height: 200px;
    background-image: url(/_next/static/media/image-web-design.932723ca.jpg);
    background-position: bottom;
  }
  .page_imageRightContainer__Z4d4W {
    width: 100%;
  }

  .page_categoryImageTop__AMZCR {
    background-image: url(/_next/static/media/image-app-design.f1822a05.jpg);
    height: 200px;
  }
  .page_categoryImageBottom__hOIcz {
    background-image: url(/_next/static/media/image-graphic-design.e22d2925.jpg);
    height: 200px;
    background-position: top;
  }
}

@media screen and (max-width: 480px) {
  .page_category__c7Udh {
    padding: 130px 20px;
  }

  .page_categoryTitle__wt3iC {
    font-size: 28px;
  }

}


/* ----------------- MEDIA QUERIES SECTION SKILLS ----------------- */

@media screen and (max-width: 768px) {
  .page_skills__ejZHj {
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 300px;
  }

  .page_skillsContent__BK7qU {
    flex-direction: row;
  }

  .page_skillsTextContainer__bApB_ {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .page_skillsTitle__gojQZ {
    width: 100%;
    text-align: left;
  }
  .page_skillsText__6IUfC {
    width: 100%;
    text-align: left;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .page_skills__ejZHj {
    gap: 75px;
    padding-top: 0;
    padding-bottom: 350px;
  }

  .page_skillsContent__BK7qU {
    flex-direction: column;
  }

  .page_skillsTextContainer__bApB_ {
    gap: 25px;
  }

  .page_skillsTitle__gojQZ {
    text-align: center;
  }
  .page_skillsText__6IUfC {
    width: 85%;
    text-align: center;
    font-size: 15px;
  }
}



/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Button/button.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #FFAD9B;
}

.button:hover p {
    color: #fff;
}

.button p {
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .button {
        width: 140px;
        height: 50px;
    }

    .button p {
        font-size: 15px;
    }
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Footer/footer.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.callToAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 290px;
    border-radius: 15px;
    background-color: #E7816B;
    background-image: url(/_next/static/media/bg-pattern-call-to-action.a7cad603.svg);
    background-position: center right;
    background-repeat: no-repeat;
    padding: 100px;
    position: relative;
    top: -240px;
  }
  
  .callToActionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 50%;
  }

  .callToActionDisabled {
    visibility: hidden;
  }
  
  .callToActionTitle {
    color: #fff;
    font-size: 40px;
    width: 300px;
    font-weight: 500;
    line-height: 40px;
  }
  
  .callToActionText {
    color: #fff;
    font-weight: 300;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: auto;
    min-height: 360px;
    background-color: #1D1C1E;
    width: 100vw;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    width: 100%;
    max-width: 1440px;
    gap: 35px;
    margin-top: -180px;
  }
  
  .footerTopContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
  }
  
  .navbarItems {
    display: flex;
    flex-direction: row;
    gap: 45px;
    color: #fff;
  }
  
  .navbarItems li {
    font-size: 14px;
    font-weight: 300;
  }
  
  .footerLineBreak {
    width: 100%;
    height: 1px;
    background-color: #333136;
  }
  

  .footerBottomContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    color: #8f8f8f;
    font-weight: 400;
    font-size: 15px;
    gap: 30px;
    flex-wrap: wrap;
    padding-bottom: 60px;
    border-top: 1px solid #333136;
    padding-top: 30px;
  }
  
  .adress {
    font-weight: 600;
  }
  
  
  .footerContactContainer {
    font-weight: 600;
  }
  
  .footerSocialContainer {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .socials:hover {
    transform: scale(1.15);
  }


  /*  --------- MEDIA QUERIES ---------- */

  
@media screen and (max-width: 1024px) {
    .footer {
      padding: 0 40px;
    }
  
  }
  
  @media screen and (max-width: 768px) {
    .callToAction {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 350px;
        background-position: center right -170px;
    }

    .callToActionContent {
        width: 100%;
        margin-bottom: 35px;
        align-items: center;
    }

    .callToActionTitle {
        width: 300px;
    }

    .callToActionText {
        width: 62%;
    }

    .navbarItems {
      gap: 35px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer {
      padding: 0 20px
    }

    .callToAction {
        background-position: center right -300px;
    }

    .callToActionTitle {
        font-size: 32px;
        width: 230px;
    }

    .callToActionText {
        font-size: 15px;
        width: 85%;
    }

    .navbarItems {
      gap: 35px;
    }
  
    .footerTopContent {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 5px;  
    }
  
    .footerBottomContent {
      border: none;
      padding-top: 0;
    }
  
    .navbarItems {
      width: 100%;
      border-top: 1px solid #333136;
      padding-top: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav:has(.navbarItems) {
      width: 100%;
    }
  
    .footerBottomContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 35px;
    }
  
  }
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./src/components/Navbar/navbar.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.navbar {
    display: flex;
    width: 100vw;
    padding: 70px 150px;
    max-width: 1740px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
}

.opacityOverlay {
    display: none;
}

.navbarLinks {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

ul {
    list-style-type: none;
    cursor: pointer;
}

li {
    font-size: 17px;
}

li:hover {
    border-bottom: 1px solid grey;
    height: 21px;
}

.logoLink {
    height: 22px;
}

a {
    height: -moz-fit-content;
    height: fit-content;
}

.menuHamburger {
    display: none;
}

@media screen and (max-width: 1024px ) {
    .navbar {
        padding: 70px 40px;
    }

    .navbarLinks {
        gap: 35px;
    }

    li {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 60px 40px;
    }
    li {
        font-size: 14px;
    }
}

@media screen and (max-width: 580px) {
    .navbarLinks {
        display: none;
    }

    .menuHamburger {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 140px;
        background-color: #000;
        width: 100%;
        padding: 50px 30px;
        left: 0;
        z-index: 99;
    }

    .opacityOverlayActive {
        display: block;
        position: fixed;
        inset: 0;
        top: 140px;
        background-color: #000;
        opacity: 0.5;
        z-index: 2;
        overflow: hidden;
    }

    li {
        font-size: 25px;
        color: #fff;
    }

    li:hover {
        border-bottom: none;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 35px 25px;
        z-index: 99;
    }

    a {
        width: -moz-fit-content;
        width: fit-content;
    }

    .active {
        top: 92px;
    }

    .opacityOverlayActive {
        top: 92px;
    }
}
