
.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-color: #E7816B;
    max-width: 1440px;
    border-radius: 15px;
    background-image: url("../../../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    gap: 10px;
}

.left {
    background-position: left;
}

.heroTitle {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.heroText {
    width: 400px;
    text-align: center;
}

/* ----------------- MEDIA QUERIES ----------------- */

@media screen and (max-width: 1024px) {
    .heroContainer {
        background-position: center right -170px;
    }

    .left {
        background-position: left;
    }
}

@media screen and (max-width: 768px) {
    .heroText {
        width: 58%;
    }
}

@media screen and (max-width: 480px) {
    .heroContainer {
        border-radius: 0;
        width: 100vw;
        background-position: top right;
        height: 320px;
    }

    .heroTitle {
        font-size: 32px;
    }

    .heroText {
        font-size: 15px;
        width: 75%;
    }
}